.albumsContainer{
    // margin-left: 250px;
    background: rgb(117,140,209);
    background: radial-gradient(circle, rgba(117,140,209,1) 24%, rgba(97,126,212,1) 52%, rgba(124,146,210,1) 89%, rgba(205,176,189,1) 100%);
    .albumsGenre{
        h1{
            margin-left: 20px;
        }
    }
}
