.albumsContainer{
    margin-left: 250px;
    background: rgb(117,140,209);
    background: radial-gradient(circle, rgba(117,140,209,1) 24%, rgba(97,126,212,1) 52%, rgba(124,146,210,1) 89%, rgba(205,176,189,1) 100%);
    .albumsGenre{
        h1{
            margin-left: 40px;
            padding-top: 30px;
        }
    }
    .albumsList{
        .css-1gqikdj-Row{
            margin-left: 0;
            margin-right: 0;
        }
        a{
            &:hover{
                background-color: transparent;
            }
        }  
    }
}
