.styleLogo{
    width: 6%;
    height: 70%;
    cursor: pointer;
    margin: 10px 20px 0;
}

// Header
.search{
    width: 50%;
    margin-left: 100px;
}
.searchInputs {
    display: flex;
    margin: 50px 100px 0;
  }
  
  .search input {
    background-color: white;
    border: 0;
    border-radius: 2px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    font-size: 18px;
    height: 30px;
    width: 600px;
  }
  
  .searchIcon {
    height: 30px;
    width: 50px;
    background-color: #fff;
    display: grid;
    place-items: center;
    cursor: pointer;
  }
  
  input:focus {
    outline: none;
  }
  .searchIcon svg {
    font-size: 25px;
  }
  
  
  .dataItem p {
    margin-left: 0px;
  }
  a {
    text-decoration: none;
  }
  
  a:hover {
    background-color: lightgrey;
  }
  
  #clearBtn {
    cursor: pointer;
  }

.listOption{
    margin: 45px 0;
    font-size: 15px;
    border-radius: 10px;
    background-color: transparent;
    &:focus{
        outline: none;
    }
    &:hover{
        cursor: pointer;
    }
}

.iconSection{
    width: 270px;
    margin: 50px 0;
    margin-left: 20px;
    display: flex;
    .playlistBtn,.likedSongsBtn{
      display: flex;
      &:hover{
        cursor: pointer;
      }
    }
}

.likedSongsBtn{
  a{
    text-decoration: none;
    color: black;
    &:hover{
      cursor: pointer;
      background-color: transparent;
      color: black;
    }
  }
}
.iconTag{
  font-size: 25px;
  margin: 0 10px;
}


.personalInfo{
    width: 180px;
    text-align: center;
    p{
        display: inline-block;
    }
}
.iconUser{
    width: 40%;
    border-radius: 50px;
    margin: 10px 50px;
}
.dropdown{
    .btn-primary{
        background-color: #fff;
        color: black;
        border-color: #fff;
        --bs-btn-active-bg: transparent;
        &:hover{
            border-color: black;
        }
        &:focus{
            outline: none;
        }
    }
}

.dropdown-item{
  a{
    &:focus{
      outline: none;
    }
  }
}