
//Body
.bodyHomepage{
    margin-left: 350px;
}
.adverImg{
    width  : 400px;
    height: 500px;
    display: flex;
    flex-direction: row;
    border-radius: 19px;
}

.colChange{
    flex-grow: 0!important;
}

.rowAttribute{
    position: relative;
}

.titleSection{
    position: absolute;
    background-color: transparent;
    margin-left: 35%;
    span{
        font-size: 25px;
        margin: 60px;
        margin-right: 400px;
    }
    .seeMore{
        font-size: 20px;
        padding-top: 10px;
        padding: 0 2px;
        &:hover{
            cursor: pointer;
        }
    }
    a{
        &:hover{
            background-color: transparent!important;
        }
    }
}
.d-flex{
    a{
        &:hover{
            background-color: transparent;
        }
    }
}
.smallTitleSection{
    position: absolute;
    background-color: transparent;
    margin: 15px 0;
    span{
        font-size: 25px;
        margin: 60px 30px;
        margin-right: 800px;
    }
    .seeMore{
        font-size: 20px;
        padding-top: 10px;
        padding: 0 2px;
        &:hover{
            cursor: pointer;
        }
    }
}

.songContainer{
    padding-right: 0!important;
    margin-top: 60px;
}

.songImg{
    width: 85%;
    height: 60%;
    margin-bottom: 25px;
    border-radius: 19px;
}

.songInfo{
    margin: 5% 5% 0;
    color: white;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    p{
        margin: 5px 0 0;
        text-align: center;
    }
    .iconAttribute{
        position: absolute;
        font-size: 40px;
        color: transparent;
        transition: all 500ms;
    }
    &:hover{
        cursor: pointer;
        opacity: 0.7;
        transition: all 500ms;
        .iconAttribute{
            color: green;
        }
    }
}

.musicDisplay {
    margin-left: 15%;
}


