.developer {
    margin-left: 250px;
    background: rgb(173,184,215);
    background: radial-gradient(circle, rgba(173,184,215,1) 0%, rgba(255,255,255,1) 100%);
    h3 {
        padding-top: 10px;
        margin-left: 30px;
    }

    p {
        font-size: 20px;
    }

    .developer-profile {
        margin-left: 30px;
        display: flex;
        flex-wrap: nowrap;

        .profileCard {
            width: 100%;
            .cardDetails{
                text-align: center;
            }
            .profilePicture {
                width: 350px;
                border-radius: 50px;
                margin: 10px;
                margin-left: 30px;
            }
        }

        .profileDetails {
            p{
                margin-left: 40px;
            }
            .cardBtn {
                .linkImg {
                    width: 7%;
                    display: inline-block;
                    margin: 20px 50px;
                    margin-left: 50px;
                    transition: all .5s;

                    &:hover {
                        cursor: pointer;
                        opacity: 0.7;
                    }
                }
            }
        }
    }
}