.imgAttribute {
  width: 550px;
}

.bodyHomepage {
  margin-left: 350px;
}

.adverImg {
  width: 400px;
  height: 500px;
  display: flex;
  flex-direction: row;
  border-radius: 19px;
}

.colChange {
  flex-grow: 0 !important;
}

.rowAttribute {
  position: relative;
}

.titleSection {
  position: absolute;
  background-color: transparent;
  margin: 30px;
  margin-left: 35%;
}
.titleSection span {
  font-size: 25px;
  margin: 60px;
  margin-right: 400px;
}
.titleSection .seeMore {
  font-size: 20px;
  padding-top: 10px;
  padding: 0 2px;
}
.titleSection .seeMore:hover {
  cursor: pointer;
}

.smallTitleSection {
  position: absolute;
  background-color: transparent;
  margin: 30px 0;
}
.smallTitleSection span {
  font-size: 25px;
  margin: 60px 30px;
  margin-right: 800px;
}
.smallTitleSection .seeMore {
  font-size: 20px;
  padding-top: 10px;
  padding: 0 2px;
}
.smallTitleSection .seeMore:hover {
  cursor: pointer;
}

.songContainer {
  padding-right: 0 !important;
  margin-top: 60px;
}

.songImg {
  width: 85%;
  height: 60%;
  margin-bottom: 25px;
  border-radius: 19px;
}

.songInfo {
  margin: 5% 5% 0;
  color: white;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
}
.songInfo p {
  margin: 5px 0 0;
  text-align: center;
}
.songInfo .iconAttribute {
  position: absolute;
  font-size: 40px;
  color: transparent;
  transition: all 500ms;
}
.songInfo:hover {
  cursor: pointer;
  opacity: 0.7;
  transition: all 500ms;
}
.songInfo:hover .iconAttribute {
  color: green;
}

.musicDisplay {
  margin-left: 15%;
}

.aside-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
  width: 250px;
  position: fixed;
  top: 0;
  left: 0;
  overflow: auto;
  border-right: 1px solid #e0e0e0;
}
.aside-bar .aside-bar-container {
  background: rgb(238, 174, 202);
  background: radial-gradient(circle, rgb(238, 174, 202) 0%, rgb(148, 187, 233) 100%);
}
.aside-bar .aside-bar-container a:hover {
  background-color: transparent;
}
.aside-bar .p1 {
  border-bottom: 1px solid #e0e0e0;
  padding: 15px;
  font-weight: bolder;
  user-select: none;
}
.aside-bar .lib-sub {
  padding: 10px;
  margin: 7px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-decoration: none;
  color: black;
}
.aside-bar .lib-sub .MuiButton-startIcon {
  color: #07689f;
}
.aside-bar .aside-bar-container {
  display: flex;
  flex-flow: column;
  width: 100%;
}
.aside-bar .playlist {
  flex: 1;
}
.aside-bar .playlist .p1 {
  border-top: 1px solid #e0e0e0;
}
.aside-bar .playlist .p1:hover {
  cursor: pointer;
}
.aside-bar .playlist .lib-sub:hover {
  background-color: #a2d5f2;
  cursor: pointer;
}

@media only screen and (max-width: 970px) {
  .aside-bar {
    display: none;
  }
}
.styleLogo {
  width: 6%;
  height: 70%;
  cursor: pointer;
  margin: 10px 20px 0;
}

.search {
  width: 50%;
}

.searchInputs {
  display: flex;
  margin: 50px 100px 0;
}

.search input {
  background-color: white;
  border: 0;
  border-radius: 2px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  font-size: 18px;
  height: 30px;
  width: 600px;
}

.searchIcon {
  height: 30px;
  width: 50px;
  background-color: #fff;
  display: grid;
  place-items: center;
  cursor: pointer;
}

input:focus {
  outline: none;
}

.searchIcon svg {
  font-size: 25px;
}

.dataItem p {
  margin-left: 0px;
}

a {
  text-decoration: none;
}

a:hover {
  background-color: lightgrey;
}

#clearBtn {
  cursor: pointer;
}

.listOption {
  margin: 45px 0;
  font-size: 15px;
  border-radius: 10px;
  background-color: transparent;
}
.listOption:focus {
  outline: none;
}
.listOption:hover {
  cursor: pointer;
}

.iconSection {
  width: 270px;
  margin: 50px 0;
  margin-left: 20px;
  display: flex;
}
.iconSection .playlistBtn, .iconSection .likedSongsBtn {
  display: flex;
}
.iconSection .playlistBtn:hover, .iconSection .likedSongsBtn:hover {
  cursor: pointer;
}

.likedSongsBtn a {
  text-decoration: none;
  color: black;
}
.likedSongsBtn a:hover {
  cursor: pointer;
  background-color: transparent;
  color: black;
}

.iconTag {
  font-size: 25px;
  margin: 0 10px;
}

.personalInfo {
  width: 180px;
  text-align: center;
}
.personalInfo p {
  display: inline-block;
}

.iconUser {
  width: 40%;
  border-radius: 50px;
  margin: 10px 50px;
}

.dropdown .btn-primary {
  background-color: #fff;
  color: black;
  border-color: #fff;
  --bs-btn-active-bg: transparent;
}
.dropdown .btn-primary:hover {
  border-color: black;
}
.dropdown .btn-primary:focus {
  outline: none;
}

.developer {
  margin-left: 250px;
  background: rgb(173, 184, 215);
  background: radial-gradient(circle, rgb(173, 184, 215) 0%, rgb(255, 255, 255) 100%);
}
.developer h3 {
  padding-top: 10px;
  margin-left: 30px;
}
.developer p {
  font-size: 20px;
}
.developer .developer-profile {
  margin-left: 30px;
  display: flex;
  flex-wrap: nowrap;
}
.developer .developer-profile .profileCard {
  width: 150%;
}
.developer .developer-profile .profileCard .cardDetails {
  text-align: center;
}
.developer .developer-profile .profileCard .profilePicture {
  width: 500px;
  border-radius: 50px;
  margin: 10px;
}
.developer .developer-profile .profileDetails p {
  margin-left: 40px;
}
.developer .developer-profile .profileDetails .cardBtn .linkImg {
  width: 5%;
  display: inline-block;
  margin: 20px 50px;
  margin-left: 50px;
  transition: all 0.5s;
}
.developer .developer-profile .profileDetails .cardBtn .linkImg:hover {
  cursor: pointer;
  opacity: 0.7;
}

.playlistSong {
  margin-left: 250px;
}

.playlistInfo {
  display: flex;
  flex-wrap: nowrap;
  background: rgb(136, 148, 184);
  background: radial-gradient(circle, rgb(136, 148, 184) 0%, rgb(205, 176, 189) 100%);
}
.playlistInfo .playlistImg {
  margin: 50px;
  width: 250px;
  height: 250px;
  box-shadow: 50px black;
}
.playlistInfo .playlistDetails {
  margin: 50px 0;
}
.playlistInfo .playlistDetails span {
  font-weight: bold;
}
.playlistInfo .playlistDetails h1 {
  font-size: 100px;
  font-weight: bold;
}
.playlistInfo .playlistDetails p {
  font-size: 20px;
}

.songList {
  background: rgb(124, 146, 210);
  background: radial-gradient(circle, rgb(124, 146, 210) 0%, rgb(205, 176, 189) 100%);
}
.songList .oneSong {
  position: relative;
}
.songList .oneSong .iconPlay {
  height: 30px;
  position: absolute;
  left: 0;
  margin-left: 8px;
  color: transparent;
}
.songList .oneSong .songDetails {
  display: flex;
  align-items: center;
}
.songList .oneSong .songDetails .songPicture {
  width: 60px;
}
.songList .oneSong .songDetails .songName {
  margin: 10px;
}
.songList .oneSong:hover {
  opacity: 0.7;
}
.songList .oneSong:hover .iconPlay {
  color: black;
  cursor: pointer;
}
.songList .oneSong:hover .songDetails .songPicture, .songList .oneSong:hover .songDetails .songName {
  cursor: pointer;
}

.albumsContainer {
  margin-left: 250px;
  background: rgb(117, 140, 209);
  background: radial-gradient(circle, rgb(117, 140, 209) 24%, rgb(97, 126, 212) 52%, rgb(124, 146, 210) 89%, rgb(205, 176, 189) 100%);
}
.albumsContainer .albumsGenre h1 {
  margin-left: 20px;
}

.userProfile {
  margin-left: 250px;
}
.userProfile .userCard {
  display: flex;
  flex-wrap: nowrap;
}
.userProfile .userCard .userImg {
  margin: 50px;
  width: 200px;
  height: 200px;
  border-radius: 19px;
}
.userProfile .userCard h1 {
  margin: 100px 0;
  font-weight: bold;
}
.userProfile .userLoveSongs h3 {
  margin-left: 20px;
}
.userProfile .userLoveSongs .iconHeart {
  color: red;
}
.userProfile .userLoveSongs .lovedSongs .oneSong {
  position: relative;
}
.userProfile .userLoveSongs .lovedSongs .oneSong .iconPlay {
  height: 30px;
  position: absolute;
  left: 0;
  margin-left: 8px;
  color: transparent;
}
.userProfile .userLoveSongs .lovedSongs .oneSong .songDetails {
  display: flex;
  align-items: center;
}
.userProfile .userLoveSongs .lovedSongs .oneSong .songDetails .deleteBtn {
  border: none;
  background-color: transparent;
}
.userProfile .userLoveSongs .lovedSongs .oneSong .songDetails .songPicture {
  width: 60px;
}
.userProfile .userLoveSongs .lovedSongs .oneSong .songDetails .songName {
  margin: 10px;
}
.userProfile .userLoveSongs .lovedSongs .oneSong:hover {
  opacity: 0.7;
}
.userProfile .userLoveSongs .lovedSongs .oneSong:hover .iconPlay {
  color: black;
  cursor: pointer;
}
.userProfile .userLoveSongs .lovedSongs .oneSong:hover .songDetails .deleteBtn {
  color: black;
}
.userProfile .userLoveSongs .lovedSongs .oneSong:hover .songDetails .songPicture, .userProfile .userLoveSongs .lovedSongs .oneSong:hover .songDetails .songName {
  cursor: pointer;
}

.albumsContainer {
  margin-left: 250px;
  background: rgb(117, 140, 209);
  background: radial-gradient(circle, rgb(117, 140, 209) 24%, rgb(97, 126, 212) 52%, rgb(124, 146, 210) 89%, rgb(205, 176, 189) 100%);
}
.albumsContainer .albumsGenre h1 {
  margin-left: 20px;
}

.playlistSong {
  margin-left: 250px;
}

.playlistInfo {
  display: flex;
  flex-wrap: nowrap;
  background: rgb(136, 148, 184);
  background: radial-gradient(circle, rgb(136, 148, 184) 0%, rgb(205, 176, 189) 100%);
}
.playlistInfo .playlistImg {
  margin: 50px;
  width: 250px;
  height: 250px;
  box-shadow: 50px black;
}
.playlistInfo .playlistDetails {
  margin: 50px 0;
}
.playlistInfo .playlistDetails span {
  font-weight: bold;
}
.playlistInfo .playlistDetails h1 {
  font-size: 100px;
  font-weight: bold;
}
.playlistInfo .playlistDetails p {
  font-size: 20px;
}

.songList {
  background: rgb(124, 146, 210);
  background: radial-gradient(circle, rgb(124, 146, 210) 0%, rgb(205, 176, 189) 100%);
}
.songList .oneSong {
  position: relative;
}
.songList .oneSong .iconPlay {
  height: 30px;
  position: absolute;
  left: 0;
  margin-left: 8px;
  color: transparent;
}
.songList .oneSong .songDetails {
  display: flex;
  align-items: center;
}
.songList .oneSong .songDetails .songPicture {
  width: 60px;
}
.songList .oneSong .songDetails .songName {
  margin: 10px;
}
.songList .oneSong:hover {
  opacity: 0.7;
}
.songList .oneSong:hover .iconPlay {
  color: black;
  cursor: pointer;
}
.songList .oneSong:hover .songDetails .songPicture, .songList .oneSong:hover .songDetails .songName {
  cursor: pointer;
}

.oneSong {
  position: relative;
}
.oneSong .iconPlay {
  height: 30px;
  position: absolute;
  left: 0;
  margin-left: 8px;
  color: transparent;
}
.oneSong .songDetails {
  display: flex;
  align-items: center;
  position: relative;
}
.oneSong .songDetails .songPicture {
  width: 60px;
}
.oneSong .songDetails .songName {
  margin: 10px;
}
.oneSong .songDetails .songIcons {
  display: flex;
  text-align: left;
  padding-left: 100px;
  position: absolute;
  right: 0;
}
.oneSong .songDetails .songIcons .songIconHeart, .oneSong .songDetails .songIcons .songIconTrash {
  font-size: 30px;
  margin: 30px;
  color: transparent;
}
.oneSong:hover {
  opacity: 0.7;
}
.oneSong:hover .iconPlay {
  color: black;
  cursor: pointer;
}
.oneSong:hover .songDetails .songPicture,
.oneSong:hover .songDetails .songName {
  cursor: pointer;
}
.oneSong:hover .songDetails .songIconHeart, .oneSong:hover .songDetails .songIconTrash {
  color: black;
  cursor: pointer;
}/*# sourceMappingURL=main.css.map */