.aside-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
  width: 250px;
  position: fixed;
  top: 0;
  left: 0;
  overflow: auto;
  border-right: 1px solid #e0e0e0;
 
  .aside-bar-container{
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    a{
      &:hover{
        background-color: transparent;
      }
    }
  }
  .p1 {
    border-bottom: 1px solid #e0e0e0;
    padding: 15px;
    font-weight: bolder;
    user-select: none;
  }
  .singlePlaylist{
    &:hover{
      .songIconTrash{
        color: black;
      }
    }
  }
  .lib-sub {
    width: 80%;
    padding: 10px;
    margin: 7px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-decoration: none;
    color: black;
    .MuiButton-startIcon{
      color: #07689f;
    }
  }
  .aside-bar-container {
    display: flex;
    flex-flow: column;
    width: 100%;
  }
  .playlist{
    flex: 1;
    .p1{
      border-top: 1px solid #e0e0e0;
      &:hover{
        cursor: pointer;
      }
    }
    .lib-sub:hover{
      background-color: #a2d5f2;
      cursor: pointer;
    }
    .songIconTrash{
      color: transparent;
    }
  }
}

.aside-bar::-webkit-scrollbar{
  display: none;
}

@media only screen and (max-width: 970px) {
  .aside-bar {
    display: none;
  }
}