@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap");
.App {
  padding: 0;
  margin: 0;
}
body {
  padding: 0;
  margin: 0;
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,0.8) 0%, rgba(102,51,153,1) 43%, rgba(0,212,255,0.1) 100%);
}